* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff9897;
  --white-color: #fff;
  --black-color: #000;
  --background-color: #fff3f3;
}

html {
  scroll-behavior: smooth;
}
/* header */
.login {
  padding-bottom: 16px;
}

.login a {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  width: 90%;
}

.search input {
  height: 42px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid var(--primary-color);
}

.search .fa-search {
  position: absolute;
  top: 15px;
  left: 12px;
}

.search button {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 36px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}

.head {
  background-color: #fff3f3;
  padding: 30px;
  width: 100%;
  margin: 0;
}

.account:hover .dropdown-menu {
  display: block;
  margin-left: -40px;
}

.account .dropdown-menu {
  text-align: center;
  margin-left: -60px;
  display: none;
  padding: 10px;
  background-color: #ff9897;
}

.shopping,
.account {
  display: inline-block;
  position: relative;
}

.cart {
  position: absolute;
  left: -238px;
  background: #fff;
  height: 422px;
  bottom: top;
  top: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 8px #ccc;
  z-index: 1;
  width: 340px;
  animation: fadein ease-in 0.3s;
  display: none;
}

.cart-img {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.cart::after {
  content: "";
  position: absolute;
  border-width: 20px 18px;
  border-color: transparent transparent var(--white-color) transparent;
  top: -40px;
  border-style: solid;
  right: 44px;
}

.list-product.show {
  display: block;
}

.show {
  display: block;
}

.empty {
  width: 200px;
  position: absolute;
  left: 72px;
  top: 120px;
}

.icon-shopping {
  font-size: 26px;
  margin-left: 24px;
  cursor: pointer;
}

.shopping:hover .cart {
  display: block;
}

.list-product {
  display: none;
}

.list-product h1 {
  font-size: 16px;
  padding: 8px 0;
  margin-left: 30px;
  color: #ccc;
  font-weight: 400;
  margin-bottom: 0;
}

.list-product-description {
  width: 100%;
}

.cost {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.list-product-description h5 {
  font-size: 16px;
  font-weight: 400;
}

.list-cost {
  color: var(--primary-color);
  font-weight: 600;
}

.list-quantity {
  font-size: 12px;
  color: #757575;
}

.list-product ul {
  list-style: none;
  margin: 0;
  overflow-y: auto;
  height: 58vh;
}

.list-product-item {
  display: flex;
  align-items: center;
}

.list-product-item:hover {
  background: rgb(255, 230, 229);
}

.product-list-img img {
  width: 50px;
  margin: 12px;
  height: 50px;
}

.icon-shopping {
  font-size: 26px;
  margin-left: 24px;
  cursor: pointer;
}

.icon-shopping,
.icon-user {
  font-size: 26px;
  margin-left: 24px;
  cursor: pointer;
}

.navbar {
  background-color: #ff6564;
  padding: 12px;
}

.collapse {
  font-size: 17px;
}

.collapse-item {
  padding: 4px 20px;
}

.nav-item:hover .subnav {
  display: flex;
}

.nav-link {
  color: var(--white-color);
}

.scroll-bar {
  position: relative;
}

.scroll-bar::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  border-radius: 4px;
  background-color: transparent;
  bottom: -4px;
  transition: width 0.5s ease-out, background-color 0.4s ease-out;
  left: 0;
}

.nav-item:hover .scroll-bar::after {
  width: 100%;
  background-color: var(--black-color);
}

.nav-link:hover {
  color: var(--black-color);
}

.subnav {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 1;
  left: -72px;
  top: 45px;
  width: 900px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0%;
  justify-content: space-between;
  box-shadow: 0px 0px 8px #ccc;
  animation: Open 0.3s ease-in;
}

.subnav-list {
  margin: 10px;
  width: 22%;
}

.subnav-list ul {
  list-style: none;
}

.subnav-list h5 {
  color: var(--primary-color);
  font-size: 18px;
}

.subnav-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--black-color);
}

.subnav-list ul li a:hover {
  color: var(--primary-color);
}

.dropdown-item {
  color: var(--black-color);
}

.bridge {
  position: relative;
}

.bridge::after {
  content: "";
  height: 20px;
  position: absolute;
  width: 80%;
  bottom: -12px;
  left: 12px;
  background-color: transparent;
}
.dropdown-item:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.carousel-control-prev,
.carousel-control-next {
  width: 6%;
  cursor: default;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  cursor: pointer;
  height: 10%;
  width: 50%;
}
/* body */
.trademark {
  background-color: var(--background-color);
}

.list-img-trademark {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.text-trademark h2,
p {
  margin: 0;
}

.text-trademark p {
  color: var(--primary-color);
}

.img-trademark {
  width: 100px;
  margin: 0 20px;
  display: inline-block;
}

.col-md-10 {
  padding-bottom: 70px;
  position: relative;
}

.products-outstanding::after {
  position: absolute;
  content: "";
  border-width: 24px 28px;
  bottom: -48px;
  right: 48%;
  border-style: solid;
  border-color: var(--background-color) transparent transparent transparent;
}

.header-title {
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 9;
  background: var(--white-color);
  margin: 40px 0;
}

.header-title a {
  color: var(--black-color);
  text-decoration: none;
  padding: 0 24px;
  position: relative;
  background: var(--white-color);
  z-index: 1;
  display: inline-block;
}

.header-title a:hover {
  color: var(--primary-color);
}

.header-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0%;
  background-color: #ff6564;
  bottom: 40px;
  z-index: -1;
}

.onsale {
  position: relative;
  margin: 0;
  padding: 0;
}

.products-onsale::after {
  position: absolute;
  content: "";
  border-width: 24px 28px;
  bottom: -48px;
  right: 48%;
  border-style: solid;
  border-color: var(--white-color) transparent transparent transparent;
}

.product {
  width: 20%;
  margin: 0 10px;
  padding: 30px;
  display: flex;
  height: 450px;
  flex-direction: column;
  border: 1px solid #999;
  background-color: var(--white-color);
  justify-content: space-between;
  position: relative;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

.product:hover {
  border: 1px solid var(--primary-color);
}

.product-info {
  margin-top: 10px;
  color: var(--black-color);
}

.product-info span {
  margin-top: 10px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.product:hover a {
  display: block;
}

.product-img:hover {
  opacity: 0.5;
}

.product-img {
  padding-bottom: 10px;
}

.product-img img {
  width: 100%;
}

.product a {
  text-decoration: none;
  color: var(--white-color);
}

.add-product {
  margin-top: 10px;
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px 8px;
  display: none;
  border-radius: 4px;
}

.outstanding,
.hot {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.new {
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

.product-outstanding {
  margin-top: 84px;
}

.product-more:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.product-outstanding-title {
  width: 20%;
  height: 450px;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  color: var(--white-color);
  border-radius: 10px;
  position: relative;
  border: 10px solid var(--primary-color);
}

.outstanding-img {
  background: url("../img/content8.jpg") center / cover no-repeat;
}

.new-img {
  background: url("../img/content7.webp") center / cover no-repeat;
}

.hot-img {
  background: url("../img/content4.webp") center / cover no-repeat;
}

.product-outstanding-title h1 {
  margin-top: 40px;
  color: var(--black-color);
  font-size: 2rem;
}

.product-outstanding-title h1:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.product-outstanding-title a {
  text-decoration: none;
  color: var(--white-color);
  background: var(--primary-color);
  padding: 8px 24px;
  text-decoration: none;
  position: absolute;
  left: 44px;
  bottom: 60px;
}

.news-detail {
  width: 30%;
  padding: 0 10px;
  margin: 0 10px;
}

.header-news {
  margin: 40px 0;
  text-align: center;
}

.header-news a {
  font-size: 1.8rem;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 600;
}

.header-news a:hover {
  color: var(--primary-color);
}

.news-img {
  margin-bottom: 30px;
}

.news-img img {
  width: 100%;
}

.news-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ecf0f1;
}

.news-title a {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.news-title a:hover,
.news-description a:hover {
  color: var(--primary-color);
}

.news-description {
  padding-top: 20px;
  color: #888;
}

.news-description a {
  color: var(--black-color);
  text-decoration: none;
}

/* footer */

.footer-contact {
  background: url("../img/footer.webp") center / cover no-repeat;
  min-height: 350px;
  color: var(--white-color);
  margin: 0;
  padding: 40px 0 0 0;
}

.contact-info,
.contact-connect {
  width: 30%;
}

.contact-info-title {
  padding: 14px 0;
  font-size: 18px;
  font-weight: 500;
}

.customer {
  line-height: 30px;
  margin: 0 24px;
}

.customer h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.support ul {
  list-style: none;
}

.support ul li a {
  color: var(--white-color);
  text-decoration: none;
}

.support ul li a:hover {
  color: var(--primary-color);
}

.contact-connect {
  padding-top: 34px;
  text-align: center;
}

.contact-connect img {
  width: 150px;
  margin-top: 30px;
  margin-right: 38px;
}

.contact-connect h3 {
  font-size: 20px;
}

.connect-icon {
  margin-top: 30px;
  letter-spacing: 1px;
}

.connect-icon a {
  padding: 4px 7px;
  letter-spacing: 1px;
  color: var(--white-color);
  text-decoration: none;
  border: 1px solid var(--white-color);
  border-radius: 25px;
}

.connect-icon a:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.footer-describe {
  text-align: center;
  width: 100%;
  background: #17171a;
  letter-spacing: 0px;
  padding: 18px 10px;
  color: #888;
  display: flex;
  justify-content: center;
}

.footer-describe p {
  padding-right: 8px;
}

.footer-describe a {
  color: var(--white-color);
  text-decoration: none;
}

.footer-describe a:hover {
  color: var(--primary-color);
}

@keyframes Open {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
